[Unit]
Description=FlightAware ADS-B uploader
Documentation=https://flightaware.com/adsb/piaware/
After=dump1090-fa.service network-online.target time-sync.target

[Service]
User=piaware
EnvironmentFile=-/etc/sysconfig/piaware
Type=simple

ExecStart=/usr/bin/piaware -plainlog -cachedir %t/piaware -statusfile %t/piaware/status.json $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

RuntimeDirectory=piaware
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
