[Unit]
Description=Flightradar24 Decoder & Feeder
After=network-online.target time-sync.target

[Service]
User=fr24feed
Type=simple
ExecStart=/usr/bin/fr24feed --quiet
Restart=on-failure
RestartSec=30

ExecStartPre=!-/usr/bin/install -D -d -o fr24feed -g fr24feed /var/log/fr24feed

[Install]
WantedBy=multi-user.target
